[user]
	name = Matt Allen
	email = matthew.allen@technipfmc.com
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	list = log --graph --decorate --oneline
	stat = status
	gist = show-branch -a
[push]
	default = matching
[core]
	editor = vim
[http]
	sslCAinfo = /etc/ssl/certs/ca-certificates.crt
	sslVerify = false
	postBuffer = 1048576000
